* {box-sizing: border-box; font-family: sans-serif; margin: 0; padding: 0;}
a {color: #3498db; display: inline-block;}
body, html {height: 100%;}
img {max-width: 100%;}
p {line-height: 150%;}


body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/gerador-cardapio.appspot.com/o/site%20-%20n%C3%A3o%20excluir%2Fbackground.jpg?alt=media&token=9f055f31-2cda-425c-8152-4b244085079e);
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
}

.cabecalho {
  max-height: 255px;
  max-width: 1080px;
  position: relative;
}

.cabecalho-logo {
  display: block;
  height: 88.627450980392%; /* 226px */
  left: 9.444%; /* 100px */
  position: absolute;
  top: 0px;
  width: 19.956%; /* 215px */
}
.cabecalho-logo > img {
  height: 100%;
  width: 100%;
}

.cabecalho-textos {
  align-items: center;
  display: flex;
  height: 62.745098039216%; /* 160px */
  justify-content: flex-end;
  position: absolute;
  right: 9.2592592592593%; /*  100px */
  text-align: right;
  top: 33.333333333333%; /* 85px */
  width: 55.555555555556%; /* 600px */
}

.categoria {
  margin-left: 9.2592592592593%; /* 100px */
  margin-bottom: 0px;
  max-width: 83%; /* 896.4px */
}

.categoria-titulo {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;
}

.categoria-titulo > h2 {
  color: #e24452;
  flex: 1;
  min-width: 300px;
}

.categoria-titulo > img {
  height: 20px;
  flex: 1;
  width: calc(100% - 300px);
}

.categoria-item {
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.categoria-item-titulo {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.categoria-item-titulo > h1 {
}

.categoria-item .preco {
  color: #e24452;
  font-weight: bold;
  position: absolute;
  right: 80px;
  top: 23px;
}

.rodape {
  margin-top: 30px;
  position: relative;
}

.rodape-textos {
  position: absolute;
  top: 50px;
  left: 200px;
}

.rodape-textos > p {
  color: #fff;
  margin-bottom: 18px;
}
